<div class="now-playing {{type}}">
	<div class="art"></div>
	<div class="meta">
		<div class="artist">{{artist}}</div>
		<div class="album">{{album}}</div>
		<div class="genre">{{genre}}</div>
	</div>
	<div class="active">
		<div class="song">{{song}}</div>
		<div class="progress"></div>
		<div class="time"></div>
	</div>
</div>